<h1><%= @billboard.chart_name %></h1>

<div>
  <%= link_to 'Edit Chart Name', edit_billboard_path(@billboard) %>
  <%= link_to 'Delete Chart', billboard_path(@billboard), method: :delete, data: {confirm: 'Really Delete Chart?'} %>
</div>

<br />

<div>
  <%= link_to 'Add Song', new_billboard_song_path(@billboard)%>

</div>

<%= link_to 'Back', :root %>